
.main_layout{
  width: 1000px;
  height: 600px;
  margin: 5px auto;
  border: solid black 3px;
}
.top_layout{
  width: 100%;
  height: 10%;
  /*background-color: yellow;*/
  display: flex;
  justify-content: center;
  align-items: flex-end;

}
.middle_layout{
  width: 100%;
  height: 60%;


}
.bottom_layout{
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#random_btn{
  width: 100px;
  height: 40px;
  background-color: white;
  font-weight: bold;
  color: #4646CD;
  border: solid #4646CD 2px;
  box-shadow : 3px 3px 3px black;
  transition-duration: 0.3s;

}
#random_btn:active{
  box-shadow: none;
}
.middle_top_layout{
  width: 100%;
  height:20%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.title{
  font-size: 50px;
  font-weight: bold;
}
#menu_name{
  font-size: 50px;
  font-weight: bold;
}
.middle_bottom_layout{
  width: 100%;
  height:80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#menu_img{
  width: 40%;
  height: 100%;

}

.menu_btn{
  height: 90%;
  width: 25%;
  margin-left: 5px;
  margin-right: 5px;
  opacity: 0.5;
}
.menu_btn:hover{
  opacity: 1.0;
}
